p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-align: justify;
  width: 1333px;
  font-size: 20px;
  color: rgb(196, 253, 255);
  background-color: rgb(0, 0, 0);
}
h1 {
  font-family: fantasy;
  text-align: center;
  color: rgb(247, 231, 11);
  font-size: 60px;
}
h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(3, 250, 250);
  font-size: 40px;
}
li {
  font-size: 45px;
  color: #ffffff;
}
